body {
    margin: 0;
    /* background-color: rgb(29, 151, 29) */
    background-image: url(https://ak.picdn.net/shutterstock/videos/15143599/thumb/1.jpg);
    background-size: cover;

}

.title {
    display: flex;
    justify-content: center;
    margin: 30px;
    padding: 15px;
    font-family: 'Acme', sans-serif;
    font-size: 50pt;
    /* background-image: url(https://static.vecteezy.com/system/resources/thumbnails/002/193/057/small/wood-texture-background-free-vector.jpg); */;
    color: red;
}

#game-board {
    display: flex;
    height: 75vh;
    width: 75vw;
    padding: 4rem;
    align-items: flex-start;
    justify-content: center;
    /* background-image: url(https://ak.picdn.net/shutterstock/videos/15143599/thumb/1.jpg); */
}

/* ----------Player Section Below--------------- */

#player {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    flex-direction: column;
}

.players-deck {
    border: 3px solid white;
    border-radius: 5%;
    height: 11rem;
    width: 7rem;
    margin-top: 25px;
}

.players-deck img {
    border-radius: 5%;
    height: 11rem;
    width: 7rem;
}

.players-card {
    border: 3px solid white;
    border-radius: 5%;
    height: 11rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://1.bp.blogspot.com/-HSnXG6AEXxM/Vn14iawNexI/AAAAAAAADO0/wNmv5JMh7XI/s1600/old-paper.jpg);
    background-size: 350px;
    font-size: 30pt;
}

.players-name {
    font-family: 'Acme', sans-serif;
    text-align: center;
    margin: 8px;
    font-size: 18pt;
    color: white;
    background-color: darkblue;
    padding: 5px;
    border-radius: 5px
}

.player-card-count {
    font-size: .5pt;
}

/* ----------Computer Section Below--------------- */

#computer {
    display: flex;
    align-self: flex-start
    justify-content: center;
    flex-direction: column;
}

.computers-deck {
    border: 3px solid white;
    border-radius: 5%;
    height: 11rem;
    width: 7rem;
}

.computers-deck img {
    border-radius: 5%;
    height: 11rem;
    width: 7rem;
}

.computers-card {
    border: 3px solid white;
    border-radius: 5%;
    height: 11rem;
    width: 7rem;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://1.bp.blogspot.com/-HSnXG6AEXxM/Vn14iawNexI/AAAAAAAADO0/wNmv5JMh7XI/s1600/old-paper.jpg);
    background-size: 350px;
    font-size: 30pt;
    font-family: 'Luxurious Roman', cursive;;
}

.computer-name {
    font-family: 'Acme', sans-serif;
    text-align: center;
    margin: 8px;
    font-size: 18pt;
    color: white;
    background-color: darkred;
    padding: 5px;
    border-radius: 5px
}

.computer-card-count {
    font-size: .5pt;
}


/* ----------Text Section Below--------------- */

.text {
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 5rem;
    padding: 15px;
    font-size: 16pt;
    font-family: 'Acme', sans-serif;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/002/193/057/small/wood-texture-background-free-vector.jpg);
    background-size: 100%;
    border-radius: 500px;
    color: white;
}